/InstantBuy/lib
InstantBuy/bin/Debug/Assembly-CSharp.dll
InstantBuy/bin/Debug/BepInEx.dll
InstantBuy/bin/Debug/BepInEx.Harmony.dll
InstantBuy/bin/Debug/Unity.InputSystem.dll
InstantBuy/bin/Debug/Unity.Netcode.Components.dll
InstantBuy/bin/Debug/Unity.Netcode.Runtime.dll
InstantBuy/bin/Debug/Unity.TextMeshPro.dll
InstantBuy/bin/Debug/UnityEngine.AIModule.dll
InstantBuy/bin/Debug/UnityEngine.AnimationModule.dll
InstantBuy/bin/Debug/UnityEngine.AudioModule.dll
InstantBuy/bin/Debug/UnityEngine.CoreModule.dll
InstantBuy/bin/Debug/UnityEngine.dll
InstantBuy/bin/Debug/UnityEngine.InputLegacyModule.dll
InstantBuy/bin/Debug/UnityEngine.PhysicsModule.dll
InstantBuy/bin/Debug/UnityEngine.UI.dll
InstantBuy/bin/Debug/UnityEngine.UIElementsModule.dll
InstantBuy/bin/Debug/UnityEngine.UIModule.dll
InstantBuy/bin/Debug/0Harmony.dll
/.vs
/.vs
/.vs/InstantBuy/FileContentIndex
.vs/InstantBuy/FileContentIndex/5977a5da-6a7f-4d0e-8691-7688bf154a4b.vsidx
.vs/InstantBuy/v17/.suo
.vs/InstantBuy/FileContentIndex/acd72fa9-af64-4e7a-84d7-2e97f25fb264.vsidx
